###These are on computecanada cedar
000_pipeline/slurm*
001_fastq
002_reference
003_results
009_deprecated
err
log
#bismark_summary_report.html
#bismark_summary_report.txt
#notes
#README.md

###these are on my laptop (jerry)
data
Rcode
data
notes
sequences
references
